releaseServiceOverride: ArgoCD

init:
  image: registry.redhat.io/openshift4/ose-cli
  tag: v4.15

backup:
  enabled: true
  schedule: "0 0 * * *"
  apcBackupNs: apc-backup
  containers:
    snapshot:
      image: bitnamilegacy/kubectl
      tag: "1.32.3"
    upload:
      image: amazon/aws-cli
      tag: "2.24.27"
  s3bucket:
    bucketName: app-hub01-vault-apc-vault-backup
    storageClass: ocs-storagecluster-ceph-rgw
    s3bucketNamespace: apc-backup

logging:
  enabled: true

vault:
  global:
    enabled: true
    openshift: true
    tlsDisable: false
    serverTelemetry:
      prometheusOperator: true
  ui:
    enabled: true
    externalPort: 8200
  injector:
    enabled: false
  server:
    image:
      repository: hashicorp/vault
      tag: 1.14.8
    route:
      enabled: true
      host: vault.apps.hub01.cloud.socpoist.sk
      tls: { termination: passthrough }
    ha:
      enabled: true
      replicas: 3
      raft:
        enabled: true
        setNodeId: true
        config: |
          ui = true
          cluster_name = "vault-raft-cluster"
          service_registration "kubernetes" {}
          disable_mlock = true

          listener "tcp" {
            address         = "0.0.0.0:8200"
            cluster_address = "0.0.0.0:8201"
            tls_cert_file   = "/vault/userconfig/certs/tls.crt"
            tls_key_file    = "/vault/userconfig/certs/tls.key"
            telemetry { unauthenticated_metrics_access = "true" }
          }

          telemetry {
            prometheus_retention_time = "30m",
            disable_hostname          = true
          }

          storage "raft" {
            path = "/vault/data"
            retry_join {
              leader_api_addr = "https://vault-active.apc-vault.svc:8200"
              leader_ca_cert_file  = "/vault/userconfig/certs/ca.crt"
            }
          }

          seal "transit" {
            address         = "https://vault.comm.apc.socpoist.sk:8200"
            key_name        = "hub-unseal"
            mount_path      = "transit/"
            disable_renewal = "false"
            tls_ca_cert     = "/vault/userconfig/certs/ca.crt"
          }
    extraEnvironmentVars:
      VAULT_CACERT: /vault/userconfig/certs/ca.crt
      VAULT_TLSCERT: /vault/userconfig/certs/tls.crt
      VAULT_TLSKEY: /vault/userconfig/certs/tls.key
    extraSecretEnvironmentVars:
      - envName: VAULT_TOKEN
        secretName: vault-autounseal-token
        secretKey: VAULT_TOKEN
    dataStorage: { size: 1Gi }
    volumeMounts:
      - name: vault-tls-cert
        mountPath: /vault/userconfig/certs
        readOnly: true
    volumes:
      - name: vault-tls-cert
        secret:
          secretName: vault-tls-cert
          defaultMode: 420
    podDisruptionBudget:
      maxUnavailable: 1
    readinessProbe:
      enabled: true
      path: /v1/sys/health?standbyok=true
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 1000m
        memory: 1Gi
  serverTelemetry:
    prometheusRules:
      enabled: true
      selectors: {}
      rules:
        - alert: VaultSealed
          expr: vault_core_unsealed == 0
          for: 0m
          labels:
            severity: critical
          annotations:
            summary: Vault sealed ({{`{{ $labels.namespace }}/{{ $labels.job }}`}})
            description: "Vault instance is sealed on {{`{{ $labels.instance }}`}}"
        - alert: VaultTokenCountHigh
          expr: vault_token_count > 300
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: Vault active token count high ({{`{{ $labels.namespace }}/{{ $labels.job }}`}}
            description: There are currently {{`{{ $value }}`}} active vault tokens
        - alert: VaultTokenCreateRate
          expr: increase(vault_token_create_count[1m]) > 100
          for: 3m
          labels:
            severity: warning
          annotations:
            summary: High rate of created vault tokens ({{`{{ $labels.namespace }}/{{ $labels.job }}`}})
            description: "There is an increased rate of vault token creation: {{`{{ $value }}`}} per minute"
        - alert: VaultTokenStoreRate
          expr: increase(vault_token_store_count[1m]) > 100
          for: 3m
          labels:
            severity: warning
          annotations:
            summary: High rate of stored vault tokens ({{`{{ $labels.namespace }}/{{ $labels.job }}`}})
            description: "There is an increased rate of vault token storing: {{`{{ $value }}`}} per minute"
        - alert: VaultClusterHealth
          expr: sum(vault_core_active) / count(vault_core_active) <= 0.5
          for: 0m
          labels:
            severity: critical
          annotations:
            summary: Vault cluster health (instance {{`{{ $labels.instance }}`}})
            description: "Vault cluster is not healthy {{`{{ $labels.instance }}: {{ $value }}`}}"
        - alert: VaultHighResponseTime
          expr: vault_core_handle_request{quantile="0.5"} > 1000
          for: 5m
          labels:
            severity: warning
          annotations:
            message: The response time of Vault is over 1s on average over the last 5 minutes.
        - alert: VaultBackupNoSuccessIn24h
          expr: |
            sum by (namespace) (
              increase(kube_job_status_succeeded{namespace="apc-vault", job_name=~"vault-snapshot.*"}[24h])
            ) == 0
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: "No successful Vault snapshot in last 24h"
            description: "No jobs matching vault-snapshot.* in namespace {{`{{ $labels.namespace }}`}} have succeeded in the last 24 hours."
