apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
  name: default
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicas }}
  logging:
    access:
      destination:
        type: Container
      httpCaptureHeaders:
        request:
          - maxLength: {{ .Values.loggingRequestMaxlength.XForwardedFor }}
            name: X-Forwarded-For
          - maxLength: {{ .Values.loggingRequestMaxlength.XForwardedProto }}
            name: X-Forwarded-Proto
          - maxLength: {{ .Values.loggingRequestMaxlength.XForwardedPort }}
            name: X-Forwarded-Port
          - maxLength: {{ .Values.loggingRequestMaxlength.XForwardedhost }}
            name: X-Forwarded-host
          - maxLength: {{ .Values.loggingRequestMaxlength.Forwarded }}
            name: Forwarded
      httpLogFormat: 'log_source="haproxy-default" log_type="http" c_ip="%ci" c_port="%cp" req_date="%tr" fe_name_transport="%ft" be_name="%b" server_name="%s" res_time="%TR" tot_wait_q="%Tw" Tc="%Tc" Tr="%Tr" Ta="%Ta" status_code="%ST" bytes_read="%B" bytes_uploaded="%U" captrd_req_cookie="%CC" captrd_res_cookie="%CS" term_state="%tsc" actconn="%ac" feconn="%fc" beconn="%bc" srv_conn="%sc" retries="%rc" srv_queue="%sq" backend_queue="%bq" captrd_req_headers="%hr" captrd_res_headers="%hs" http_request="%r" org-client-xff="%[capture.req.hdr(0)]"'
      logEmptyRequests: Log
