{{- $metallbNamespace := include "apc-global-overrides.metallbNamespace" . }}
{{- if .Values.ipAddrPool }}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ingress-reserved
  namespace: {{ $metallbNamespace }}
  labels:
    {{- include "ingress-configuration.labels" . | nindent 4 }}
spec:
  addresses:
  - {{ .Values.ipAddrPool }}
  autoAssign: true
  serviceAllocation:
    namespaces:
      - {{ .Values.ocpIngressNs }}
    serviceSelectors:
      - matchLabels:
          app: router-internal-default-metallb
---
{{- end }}