apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: metallbipadresspoll.metallb.aspecta.crossplane.io
spec:
  scope: Namespaced
  group: metallb.aspecta.crossplane.io
  names:
    kind: metallbipadresspoll
    plural: metallbipadresspolls
  versions:
    - name: v1alpha1
      served: true
      referenceable: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              required: []
            status:
              type: object
              properties:
                addressPool:
                  type: object
                  description: Status of the created IPAddressPool
                  properties:
                    name:
                      type: string
                    ready:
                      type: boolean
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          status:
                            type: string
                          reason:
                            type: string
                          message:
                            type: string
                l2Advertisement:
                  type: object
                  description: Status of the created L2Advertisement
                  properties:
                    name:
                      type: string
                    ready:
                      type: boolean
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          status:
                            type: string
                          reason:
                            type: string
                          message:
                            type: string
                observedGeneration:
                  type: integer
