{{- with .Values.kafka }}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: {{ include "apps-ck-kafka.fullname" $ }}-brokers
  namespace: {{ $.Release.Namespace }}
  labels:
    strimzi.io/cluster: {{ include "apps-ck-kafka.fullname" $ }}
    {{- include "apps-ck-kafka.labels" $ | nindent 4 }}
spec:
  replicas: {{ .brokers.replicas | default 3 }}
  roles:
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        {{- if .brokers.storage.class }}
        class: {{ .brokers.storage.class }}
        {{- end }}
        size: {{ .brokers.storage.size | default "100Gi" }}
        deleteClaim: {{ .brokers.storage.deleteClaim | default false }}
        kraftMetadata: shared
  resources:
    requests:
      cpu: {{ .brokers.resources.requests.cpu | default "1000m" }}
      memory: {{ .brokers.resources.requests.memory | default "2Gi" }}
    limits:
      cpu: {{ .brokers.resources.limits.cpu | default "2000m" }}
      memory: {{ .brokers.resources.limits.memory | default "4Gi" }}
{{- end }}
