apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
kind: Client
metadata:
  name: {{ .Values.clientId }}
  labels:
    {{- include "apps-centralne-komponenty-bamoe.labels" . | nindent 4 }}
spec:
  deletionPolicy: Delete
  forProvider:
    realmId: {{ include "apc-global-overrides.require-keycloakRealm" . }}
    clientId: {{ .Values.clientId }}
    name: {{ .Values.clientName }}
    description: {{ .Values.clientName }} manazment konzola
    accessType: PUBLIC
    standardFlowEnabled: true
    {{- if or .Values.rootUrl .Values.baseUrl }}
    rootUrl: {{ .Values.rootUrl | default .Values.baseUrl }}
    {{- end }}
    {{- if .Values.baseUrl }}
    baseUrl: {{ .Values.baseUrl }}
    {{- end }}
    validRedirectUris:
    {{- range .Values.validRedirectUris | required "validRedirectUris must be set" }}
      - {{ . }}
    {{- end }}
    {{- if .Values.webOrigins }}
    webOrigins:
    {{- range .Values.webOrigins }}
      - {{ . }}
    {{- end }}
    {{- end }}
    frontchannelLogoutEnabled: true
    pkceCodeChallengeMethod: S256
    fullScopeAllowed: false
  providerConfigRef:
    name: {{ include "apc-global-overrides.require-crossplaneKubeKeycloakProviderConfigName" . }}
