
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: cluster-policy-application
  labels:
    {{- include "user-workload-monitoring-policy.labels" . | nindent 4 }}
spec:
  generateExisting: true
  rules:
  - name: generate-prometheus-rules-application
    skipBackgroundRequests: true
    match:
      any:
      - resources:
          kinds:
          - Namespace
    preconditions:
      all:
      - key: {{ "{{request.object.metadata.labels.\"openshift.io/cluster-monitoring\" || ''}}" | quote }}
        operator: In
        value:
        - ""
        - "false"
      - key: {{ "{{request.object.metadata.labels.\"openshift.io/user-monitoring\" || ''}}" | quote }}
        operator: In
        value:
        - ""
        - "true"
      - key: {{ "{{request.object.metadata.labels.\"apc.namespace.type\" || ''}}" | quote }}
        operator: Equals
        value: "application"
    exclude:
      any:
      - resources:
          kinds:
          - Namespace
          names:
          - "openshift*"
          - "kube*"
          - "default"
    generate:
      synchronize: true
      apiVersion: monitoring.coreos.com/v1
      kind: PrometheusRule
      name: "user-workload-monitoring-app-{{`{{request.object.metadata.name}}`}}"
      namespace: "{{`{{request.object.metadata.name}}`}}"
      data:
        spec:
          groups:
          - name: "user-workload-app{{`{{request.object.metadata.name}}`}}"
            rules:
              {{- include "monitoring-prometheusrules.rulesApp" . | nindent 14 }}
