
apiVersion: role.keycloak.crossplane.io/v1alpha1
kind: Role
metadata:
  name: admin
  # annotations:
  #   crossplane.io/external-name: admin
spec:
  managementPolicies: ["Observe"]
  forProvider:
    realmId: master
    # import: true
    name: admin
  providerConfigRef:
    name: keycloak-local-config
# ---
# apiVersion: role.keycloak.crossplane.io/v1alpha1
# kind: Role
# metadata:
#   name: admin
# spec:
#   deletionPolicy: Delete
#   forProvider:
#     realmId: apps
#     name: admin2
#   providerConfigRef:
#     name: keycloak-local-config
---
apiVersion: user.keycloak.crossplane.io/v1alpha1
kind: Roles
metadata:
  name: provisioning-admin
spec:
  deletionPolicy: Delete
  forProvider:
    realmId: master
    userIdRef:
      name: provisioning
    roleIdsRefs:
    - name: admin
    # not gitopsy!
    exhaustive: false
  providerConfigRef:
    name: keycloak-local-config
