acm-operatorpolicy:
  subscription:
    channel: stable
    name: compliance-operator-sub
    namespace: openshift-compliance
    source: redhat-operators
    sourceNamespace: openshift-marketplace
    config:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      env:
      - name: PLATFORM
        value: "HyperShift"

  operatorGroup:
    name: compliance-operator
    namespace: openshift-compliance
    targetNamespaces:
    - openshift-compliance

  upgradeApproval: Manual
  versions:
    - compliance-operator.v1.6.0
