# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

BamoeClientId: bamoe-management-console

providerConfigRef: keycloak-local-config # toto by malo ist z globalnych values !!!!!!!!!!!!!!!!!!!!!!!!!!!
realmId: apps # toto by malo ist z globalnych values !!!!!!!!!!!!!!!!!!!!!!!!!!!
