{{- range $user, $userdata := .Values.users }}
{{- $env := include "apc-global-overrides.environmentShort" $ }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ printf "mongodb-%s" $userdata.function }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "mongodb-config.labels" $ | nindent 4 }}
spec:
  secretStoreRef:
    kind: SecretStore
    name: {{ $.Values.secretStore }}
  refreshInterval: "1h0m0s"
  target:
    name: {{ printf "mongodb-%s-pwd" $userdata.function }}
    deletionPolicy: Retain
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: {{ printf "%s/%s/mongodb/%s" $env $.Release.Namespace $userdata.function }}
---
{{- end }}
