apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mongodb-database-agent
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mongodb-config.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - patch
      - delete