---
apiVersion: compliance.openshift.io/v1alpha1
kind: ScanSettingBinding
metadata:
  name: {{ .Values.scanSettingBinding.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "compliance-config.labels" . | nindent 4 }}
spec:
  profiles:
    {{- toYaml .Values.scanSettingBinding.profiles | nindent 4 }}
  settingsRef:
    {{- toYaml .Values.scanSettingBinding.settingsRef | nindent 4 }}
