apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: {{ include "crossplane-vault-provider.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "crossplane-vault-provider.labels" . | nindent 4 }}
spec:
  deploymentTemplate:
    spec:
      replicas: 2
      selector: {}
      template:
        spec:
          containers:
          - name: package-runtime
            resources:
              limits:
                cpu: 500m
                memory: 300Mi
              requests:
                cpu: 50m
                memory: 100Mi
            securityContext: {}
            volumeMounts:
            - mountPath: /etc/ssl/certs/vault-ca.crt
              name: custom-ca-certs
              readOnly: true
              subPath: ca.crt
          securityContext: {}
          topologySpreadConstraints:
          - labelSelector:
              matchLabels:
                pkg.crossplane.io/provider: {{ include "crossplane-vault-provider.fullname" . }}
            maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
          volumes:
          - configMap:
              name: kube-root-ca.crt
            name: custom-ca-certs
