{{- if .Values.groupSync }}
{{- range .Values.groupSync }}
{{- $groupSyncName := .name }}
{{- range .providers }}
{{- if .ldap }}
{{- if .credentialsSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $groupSyncName }}-{{ .name | lower}}
  namespace: {{ $.Release.Namespace }}
  labels:
  {{- ( include "group-sync-config.labels" $ ) | nindent 4 }}
type: Opaque
data:
  username: {{ .credentialsSecret.username | b64enc }}
  password: {{ .credentialsSecret.password | b64enc }}
{{- else }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $groupSyncName }}-{{ .name | lower }}
  namespace: {{ $.Release.Namespace }}
  labels:
  {{- ( include "group-sync-config.labels" $ ) | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ (((include "apc-global-overrides.services" $ ) | fromYaml).externalSecretsOperator).defaultClusterSecretStore }}
    kind: ClusterSecretStore
  refreshInterval: "15m"
  target:
    name: {{ $groupSyncName }}-{{ .name | lower }}
    creationPolicy: Orphan
    deletionPolicy: Retain
  data:
  - secretKey: username
    remoteRef:
      key: {{ $.Values.vaultKVmountPlatform }}/{{ include "apc-global-overrides.environmentShort" $ }}/{{ $.Release.Namespace }}/group-sync/{{ $groupSyncName }}-{{ .name | lower }}
      property: username
  - secretKey: password
    remoteRef:
      key: {{ $.Values.vaultKVmountPlatform }}/{{ include "apc-global-overrides.environmentShort" $ }}/{{ $.Release.Namespace }}/group-sync/{{ $groupSyncName }}-{{ .name | lower }}
      property: password
{{- end}}
---
{{- end}}        
{{- end}}
{{- end}}
{{- end}}