
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter-prometheus-blackbox-exporter
  namespace: apc-blackbox-exporter
  labels:
    helm.sh/chart: prometheus-blackbox-exporter-11.6.1
    app.kubernetes.io/name: prometheus-blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
    app.kubernetes.io/version: "v0.28.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus-blackbox-exporter
      app.kubernetes.io/instance: blackbox-exporter
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        helm.sh/chart: prometheus-blackbox-exporter-11.6.1
        app.kubernetes.io/name: prometheus-blackbox-exporter
        app.kubernetes.io/instance: blackbox-exporter
        app.kubernetes.io/version: "v0.28.0"
        app.kubernetes.io/managed-by: Helm
      annotations:
        checksum/config: 1742d991a67a8333b62fc24c6118f7d75c158658ff20c0da3602d6c948094363
    spec:
      automountServiceAccountToken: false
      serviceAccountName: blackbox-exporter-prometheus-blackbox-exporter
      restartPolicy: Always
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsGroup: null
        runAsNonRoot: true
        runAsUser: null
        seccompProfile:
          type: RuntimeDefault
      
      containers:
      
      - name: blackbox-exporter
        image: quay.io/prometheus/blackbox-exporter:v0.28.0
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        envFrom:
          - configMapRef:
              name: proxy
        args:
        - "--config.file=/config/blackbox.yaml"
        ports:
        - containerPort: 9115
          name: http
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /-/healthy
            port: http
        readinessProbe:
          httpGet:
            path: /-/healthy
            port: http
        volumeMounts:
        - mountPath: /config
          name: config
      hostNetwork: false
      volumes:
      - name: config
        configMap:
          name: blackbox-exporter-prometheus-blackbox-exporter
