
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: blackbox-exporter-prometheus-blackbox-exporter
  namespace: apc-blackbox-exporter
  labels:
    helm.sh/chart: prometheus-blackbox-exporter-11.6.1
    app.kubernetes.io/name: prometheus-blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
    app.kubernetes.io/version: "v0.28.0"
    app.kubernetes.io/managed-by: Helm
spec:
  groups:
    - name: prometheus-blackbox-exporter
      rules: 
        - alert: Blackbox
          annotations:
            description: The Blackbox Exporter instance is not reachable. Please check the
              service and pod status.
            summary: Blackbox Exporter is down
          expr: up{job="blackbox-exporter-prometheus-blackbox-exporter"}== 0
          for: 5m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              Probe failed
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox probe failed (instance {{ $labels.instance }})
          expr: sum without (pod) (probe_success{namespace="apc-blackbox-exporter"} == 0)
          for: 0m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              Blackbox probe took more than 1s to complete
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox slow probe (instance {{ $labels.instance }})
          expr: avg without(pod) (avg_over_time(probe_duration_seconds[1m]) > 1) > 1
          for: 1m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              HTTP status code is not 200-399
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox probe HTTP failure (instance {{ $labels.instance }})
          expr: count without (pod) (probe_http_status_code <= 199 OR probe_http_status_code
            >= 400)  > 0
          for: 0m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              HTTP request took more than 1s
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox probe slow HTTP (instance {{ $labels.instance }})
          expr: avg without(pod) ( avg_over_time(probe_http_duration_seconds[1m]) > 1) > 1
          for: 1m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              Blackbox ping took more than 1s
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox probe slow ping (instance {{ $labels.instance }})
          expr: avg without(pod) ( avg_over_time(probe_icmp_duration_seconds[1m]) )> 1
          for: 1m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
        - alert: Blackbox
          annotations:
            description: |-
              Blackbox TCP took more than 1s
                VALUE = {{ $value }}
                LABELS = {{ $labels }}
            summary: Blackbox probe slow TCP (instance {{ $labels.instance }})
          expr: avg without(pod) ( avg_over_time(probe_tcp_duration_seconds[1m]) )> 1
          for: 1m
          labels:
            severity: warning
            team: platform
            vendor: aspecta
