apiVersion: v1
kind: ServiceAccount
metadata:
  name: blackbox-exporter-prometheus-blackbox-exporter
  namespace: apc-blackbox-exporter
  labels:
    helm.sh/chart: prometheus-blackbox-exporter-11.6.1
    app.kubernetes.io/name: prometheus-blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
    app.kubernetes.io/version: "v0.28.0"
    app.kubernetes.io/managed-by: Helm
