---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ include "openshift-etcd-backup.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
