---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "openshift-hcp-etcd-backup.name" . }}-rules
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  groups:
  - name: cronjob.rules
    rules:
      {{- $clusterName := include "openshift-hcp-etcd-backup.clusterName" . }}
      - alert: EtcdBackupJobFailure
        expr: kube_job_status_failed{namespace="{{ .Release.Namespace }}", job_name=~"{{ include "openshift-hcp-etcd-backup.name" . }}-.*"} > 0
        labels:
          severity: critical
        annotations:
          summary: "ETCD backup job for {{ $clusterName }} has failed"
          description: "ETCD backup job for {{ $clusterName }} {{`{{ $labels.namespace }}/{{ $labels.job_name}}`}} has failed."
