---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openshift-hcp-etcd-backup.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
