apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    rbac.kyverno.io/aggregate-to-admission-controller: "true"
    rbac.kyverno.io/aggregate-to-background-controller: "true"
    {{- include "blackbox-exporter-config.labels" . | nindent 4 }}
  name: kyverno:admission-controller:monitoring-coreos
rules:
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  - '*'
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - probes
  verbs:
  - get
  - list
  - watch