yamlApplicationConfig:
  kafka:
    clusters:
      - name: my-cluster
        bootstrapServers: my-cluster-kafka-bootstrap:9092
      - name: single-node-kafka
        bootstrapServers: single-node-kafka-kafka-bootstrap:9092
  auth:
    type: disabled
  management:
    health:
      ldap:
        enabled: false

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

ingress:
  enabled: true
  host: kafka-ui.apps.dev01.cloud.socpoist.sk
  annotations:
    route.openshift.io/termination: edge
    route.openshift.io/insecureEdgeTerminationPolicy: Redirect

# env:
# - name: DYNAMIC_CONFIG_ENABLED
#   value: "true"
