
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: cluster-policy-cluster-monitoring
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
spec:
  generateExisting: true
  rules:
  - name: generate-prometheus-rules-labels
    skipBackgroundRequests: true
    match:
      any:
      - resources:
          kinds:
          - Namespace
    preconditions:
      all:
      - key: {{ "{{request.object.metadata.labels.\"openshift.io/cluster-monitoring\" || ''}}" | quote }}
        operator: In
        value:
        - "true"
    exclude:
      any:
      - resources:
          kinds:
          - Namespace
          names:
          - "openshift*"
          - "kube*"
          - "default"
    generate:
      synchronize: true
      apiVersion: monitoring.coreos.com/v1
      kind: PrometheusRule
      name: "cluster-monitoring-{{`{{request.object.metadata.name}}`}}"
      namespace: "{{`{{request.object.metadata.name}}`}}"
      data:
        spec:
          groups:
          - name: "cluster-monitoring-{{`{{request.object.metadata.name}}`}}"
            rules:
              {{- include "monitoring-prometheusrules.rulesClusterMonitoring" . | nindent 14 }}
