apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: openshift-console
  namespace: {{ .Release.Namespace }}
  labels:
    vendor: aspecta
    team: platform
    module: http_openshift_console
    component: openshift-console
spec:
  jobName: openshift-console
  interval: 10s
  scrapeTimeout: 10s
  module: http_openshift_console
  prober:
    url: blackbox-exporter-prometheus-blackbox-exporter.{{ .Release.Namespace }}.svc:9115
    scheme: http
    path: /probe
  targets:
    staticConfig:
      labels:
        vendor: aspecta
        team: platform
        module: http_openshift_console
        component: openshift-console
      static:
      - https://console-openshift-console.{{ include "apc-global-overrides.require-clusterAppsDomain" . }}/health
