{{- if (include "apc-global-overrides.require-clusterApiURL" . ) }}
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: openshift-api
  namespace: {{ .Release.Namespace }}
  labels:
    vendor: aspecta
    team: platform
    module: http_openshift_api
    component: openshift-api
spec:
  jobName: openshift-api
  interval: 10s
  scrapeTimeout: 10s
  module: http_openshift_api
  prober:
    url: blackbox-exporter-prometheus-blackbox-exporter.apc-blackbox-exporter.svc:9115
    scheme: http
    path: /probe
  targets:
    staticConfig:
      static:
      - {{ include "apc-global-overrides.clusterApiURL" . }}/readyz
{{- end }}