# Rules for detecting pod issues in user workloads
rules:
  - alert: KubePodCrashLooping
    annotations:
      description: "Pod {{ `\\{{ $labels.namespace }}` }}/{{ `\\{{ $labels.pod }}` }} has been in a non-ready state for longer than 15 minutes on cluster {{ `\\{{ $labels.cluster }}` }}."
      runbook_url: https://runbooks.prometheus-operator.dev/runbooks/kubernetes/kubepodcrashlooping
      summary: Pod is crash looping.
    expr: max_over_time(kube_pod_container_status_waiting_reason{reason="CrashLoopBackOff", job="kube-state-metrics", namespace="{{ request.object.metadata.name }}"}[5m]) >= 1
    for: 15m
    labels:
      severity: warning
