apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: function-auto-ready-runtime-config
spec:
  deploymentTemplate:
    spec:
      replicas: 2
      selector: {}
      template:
        spec:
          containers:
          - name: package-runtime
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
          securityContext: {}

---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: go-templating-runtime-config
spec:
  deploymentTemplate:
    spec:
      replicas: 2
      selector: {}
      template:
        spec:
          containers:
          - name: package-runtime
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
          securityContext: {}
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: patch-and-transform-runtime-config
spec:
  deploymentTemplate:
    spec:
      replicas: 2
      selector: {}
      template:
        spec:
          containers:
          - args:
            - --debug
            name: package-runtime
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
          securityContext: {}
          # topologySpreadConstraints:
          # - labelSelector:
          #     matchLabels:
          #       pkg.crossplane.io/provider: provider-keycloak
          #   maxSkew: 1
          #   topologyKey: kubernetes.io/hostname
          #   whenUnsatisfiable: ScheduleAnyway
          # volumes:
          # - configMap:
          #     name: custom-ca-certs
          #   name: custom-ca-certs
