# ScanSetting configuration
scanSetting:
  name: cis-scan-settings
  includeMasterRole: false
  rawResultStorage:
    nodeSelector:
      node-role.kubernetes.io/worker: ""
    pvAccessModes:
      - ReadWriteOnce
    rotation: 3
    size: 1Gi
    tolerations:
      - operator: Exists
  roles:
    - worker
  scanTolerations:
    - operator: Exists
  schedule: "0 1 * * *"
  showNotApplicable: false
  maxRetryOnTimeout: 3
  strictNodeScan: true
  suspend: false
  timeout: 30m0s

# ScanSettingBinding configuration
scanSettingBinding:
  name: cis-compliance
  settingsRef:
    name: cis-scan-settings
    kind: ScanSetting
    apiGroup: compliance.openshift.io/v1alpha1


