{{- range .Values.functions }}
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: {{ include "crossplane-xr-functions.fullname" $ }}-{{ .name }}-runtime-config
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "crossplane-xr-functions.labels" $ | nindent 4 }}
spec:
  deploymentTemplate:
    spec:
      replicas: 2
      selector: {}
      template:
        spec:
          containers:
          - name: package-runtime
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
              seccompProfile:
                type: RuntimeDefault
          securityContext: {}
---
{{- end }}
