apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMaps.imagescript.name }}
  namespace: {{ include "apc-warmcache.namespace" . }}
  labels:
    {{- include "apc-warmcache.labels" . | nindent 4 }}
data:
  getimages.sh: |
    #!/bin/bash
    set -euo pipefail

    log_message() {
      local timestamp
      timestamp=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
      echo -e "$timestamp $1"
    }

    log_messagef() {
      while read -r line; do
        log_message "$line"
      done < $1
    }

    log_message "INFO: Starting to retrieve images from all pods."

    if ! oc get pods -A -o jsonpath='{range .items[*]}{range .status.initContainerStatuses[*]}{.image}{"\n"}{end}{range .status.containerStatuses[*]}{.image}{"\n"}{end}{end}' | sort -u > /imglist/images; then
      log_messagef /imglist/images
      log_message "ERROR: Failed to retrieve images from all pods."
      exit 1
    fi

    log_message "INFO: Successfully retrieved images from all pods."
