apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMaps.cachescript.name }}
  namespace: {{ include "apc-warmcache.namespace" . }}
  labels:
    {{- include "apc-warmcache.labels" . | nindent 4 }}
data:
  warmcache.sh: |
    #!/bin/bash
    set -euo pipefail

    imglist="/imglist/images"
    registrycertdir="/etc/regca"

    log_message() {
      local timestamp
      timestamp=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
      echo -e "$timestamp $1"
    }

    log_messagef() {
      while read -r line; do
        log_message "$line"
      done < $1
    }

    log_message "INFO: Starting with downloading the images to refresh the image cache."

    [ -s ${imglist} ] || {
      log_message "ERROR: Image list is empty or not found."
      exit 1
    }

    while IFS= read -r line; do
      # Strip the image url and get only the registry (till the first '/')
      registry=$(echo $line | sed 's!/.*!!')
      notCacheRegistry=true

      # Check if the registry is cached
      for reg in $REGISTRIES; do
        if [ "$registry" == "$reg" ]; then
          notCacheRegistry=false
          break
        fi
      done

      if [[ "$notCacheRegistry" == "true" ]]; then
        log_message "WARNING: Not a cached registry, image: $line"
      else
        registryuser=$(echo $registry  | sed 's/:.*//; s/\./_/g')_user
        registrypassword=$(echo $registry  | sed 's/:.*//; s/\./_/g')_password
        count=0

        log_message "INFO: refreshing image ${line}"
        until skopeo copy --src-cert-dir ${registrycertdir} --src-creds ${!registryuser}:${!registrypassword} docker://${APCREGISTRY}/$line docker-archive:/dev/null > /dev/shm/log.err 2>&1; do
          count=$((count + 1))
          if [ "$count" -ge "$RETRY" ]; then
            log_message "ERROR: refreshing image ${line} failed after ${RETRY} attempts."
            log_messagef /dev/shm/log.err
            break
          fi
          log_message "WARNING: refreshing image ${line} failed, retrying (${count}/${RETRY})..."
        done

      fi
    done < ${imglist}

    log_message "INFO: Completed downloading the images to refresh the image cache."
