{{- if .Values.externalSecrets.enabled -}}
{{- $env := include "apc-global-overrides.environmentShort" . }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.externalSecrets.regrobot.name }}
  namespace: {{ include "apc-warmcache.namespace" . }}
  labels:
    {{- include "apc-warmcache.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ include "apc-global-overrides.ESODefaultClusterSecretStore" . }}
    kind: {{ .Values.externalSecrets.secretStoreRef.kind }}
  refreshInterval: {{ .Values.externalSecrets.refreshInterval | quote }}
  target:
    name: {{ .Values.externalSecrets.regrobot.targetSecretName }}
  dataFrom:
    {{- range $registry := .Values.registries }}
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        {{- $ctx := dict "registry" $registry "env" $env }}
        key: {{ tpl $.Values.externalSecrets.regrobot.vaultPath $ctx }}
      rewrite:
      - regexp:
          source: "username"
          target: "{{ $registry | replace "." "_" }}_user"
      - regexp:
          source: "password"
          target: "{{ $registry | replace "." "_" }}_password"
    {{- end }}
{{- end }}
