apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: ck-microservice-access
spec:
  compositeTypeRef:
    apiVersion: ck.socpoist.sk/v1alpha1
    kind: microserviceaccess
  mode: Pipeline
  pipeline:

  - step: isas-client
    functionRef:
      name: function-go-templating
    input:
      apiVersion: gotemplating.fn.crossplane.io/v1beta1
      kind: GoTemplate
      source: Inline
      inline:
        template: |
          apiVersion: openidclient.keycloak.m.crossplane.io/v1alpha1
          kind: Client
          metadata:
            name: {{`{{ .observed.composite.resource.metadata.name }}`}}
          spec:
            managementPolicies: ["Observe"]
            forProvider:
              realmId: {{ .Values.realmId }}
              clientId: {{`{{ .observed.composite.resource.metadata.name }}`}}
            providerConfigRef:
              name: {{ .Values.providerConfigRef }}

  - step: isas-rolemapper
    functionRef:
      name: function-go-templating
    input:
      apiVersion: gotemplating.fn.crossplane.io/v1beta1
      kind: GoTemplate
      source: Inline
      inline:
        template: |
          apiVersion: client.keycloak.m.crossplane.io/v1alpha1
          kind: RoleMapper
          metadata:
            name: {{`{{ .observed.composite.resource.metadata.name }}`}}-{{`{{ .observed.composite.resource.spec.clientId }}`}}-{{`{{ .observed.composite.resource.spec.clientRole }}`}}
          spec:
            deletionPolicy: Delete
            forProvider:
              realmId: {{ .Values.realmId }}
              clientIdRef:
                name: {{`{{ .observed.composite.resource.metadata.name }}`}}
              roleIdRef:
                name: {{`{{ .observed.composite.resource.spec.clientId }}`}}-{{`{{ .observed.composite.resource.spec.clientRole }}`}}
            providerConfigRef:
              name: {{ .Values.providerConfigRef }}

  - step: microservice-admin-protocolmapper
    functionRef:
      name: function-go-templating
    input:
      apiVersion: gotemplating.fn.crossplane.io/v1beta1
      kind: GoTemplate
      source: Inline
      inline:
        template: |
          apiVersion: client.keycloak.m.crossplane.io/v1alpha1
          kind: ProtocolMapper
          metadata:
            name: {{`{{ .observed.composite.resource.metadata.name }}`}}-audience-{{`{{ .observed.composite.resource.spec.clientId }}`}}
          spec:
            deletionPolicy: Delete
            forProvider:
              realmId: {{ .Values.realmId }}
              clientIdRef:
                name: {{`{{ .observed.composite.resource.metadata.name }}`}}
              protocol: openid-connect
              protocolMapper: oidc-audience-mapper
              name: add {{`{{ .observed.composite.resource.metadata.clientId }}`}} audience
              # https://github.com/keycloak/keycloak/blob/0f01444543cf5e755b13a62c233a5c9feef72888/services/src/main/java/org/keycloak/protocol/oidc/mappers/OIDCAttributeMapperHelper.java#L60
              config:
                "included.client.audience": "{{`{{ .observed.composite.resource.spec.clientId }}`}}"
                "access.token.claim": "true"
                "introspection.token.claim": "true"
            providerConfigRef:
              name: {{ .Values.providerConfigRef }}

  - step: bamoe-client
    functionRef:
      name: function-go-templating
    input:
      apiVersion: gotemplating.fn.crossplane.io/v1beta1
      kind: GoTemplate
      source: Inline
      inline:
        template: |
          apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
          kind: ClientServiceAccountRole
          metadata:
            name: {{`{{ .observed.composite.resource.metadata.name }}`}}-{{`{{ .observed.composite.resource.spec.clientId }}`}}-{{`{{ .observed.composite.resource.spec.clientRole }}`}}
          spec:
            deletionPolicy: Delete
            forProvider:
              realmId: {{ .Values.realmId }}
              serviceAccountUserClientIdRef:
                name: {{`{{ .observed.composite.resource.metadata.name }}`}}
              clientIdRef:
                name: {{`{{ .observed.composite.resource.spec.clientId }}`}}
              role: {{`{{ .observed.composite.resource.spec.clientRole }}`}}
            providerConfigRef:
              name: {{ .Values.providerConfigRef }}

  - step: automatically-detect-readiness
    functionRef:
      name: function-auto-ready
