# https://json.ophir.dev
# yq ".spec.versions[0].schema.openAPIV3Schema = \"$(yq -p json -o yaml ../openapischemas/xrd-microservice.json)\"" --inplace xrd-microservice.yam
apiVersion: apiextensions.crossplane.io/v2
kind: CompositeResourceDefinition
metadata:
  name: microservices.ck.socpoist.sk
spec:
  # defaultCompositionRef:
  #   name: example
  # enforcedCompositionRef:
  #   name: example
  scope: Namespaced
  # scope: Cluster
  group: ck.socpoist.sk
  names:
    kind: Microservice
    plural: microservices
  versions:
    - name: v1alpha1
      served: true
      referenceable: true
      schema:
        openAPIV3Schema: |-
          type: object
          properties:
            spec:
              type: object
              description: Defines the microservice
              properties:
                roles:
                  type: array
                  description: List of microservice Keycloak roles
                validRedirectUris:
                  type: array
                  description: List of Keycloak client allowed redirect URIs
                webOrigins:
                  type: array
                  description: List of Keycloak client allowed web origins, allowed CORS origins. To permit all origins of Valid Redirect URIs, add '+'. This does not include the '*' wildcard though. To permit all origins, explicitly add '*'.
                rootUrl:
                  type: string
                  description: Root URL of the microservice Keycloak client, prepended to all relative URLs
                baseUrl:
                  type: string
                  description: Base URL of the microservice Keycloak client, used as a default redirect
              required:
                - roles
                - validRedirectUris
          required:
            - spec
